In [1]:
%run ./functions/submission.py

# 디코딩 딕셔너리 로드

In [4]:
DATA_PATH = './data/'

In [5]:
resume_decode = pd.read_csv(f"{DATA_PATH}idx_2_resume.txt", delimiter=" ", header=None)
resume_decode = resume_decode.set_index(0).to_dict()[1]

In [6]:
recruitment_decode = pd.read_csv(f"{DATA_PATH}/idx_2_recruitment.txt", delimiter=" ", header=None)
recruitment_decode = recruitment_decode.set_index(0).to_dict()[1]

# 제출결과 생성

## CF

In [20]:
CF_FOLDER_PATH = './CF/results/'
cf_rating_idx = pd.read_csv(f'{CF_FOLDER_PATH}pred_idx_JOB.txt', delimiter=' ', header=None)

In [21]:
create_submission(cf_rating_idx, resume_decode, recruitment_decode)

      resume_seq recruitment_seq
0         U05833          R00585
8482      U05833          R01455
16964     U05833          R03943
25446     U05833          R00304
33928     U05833          R04100
...          ...             ...
8481      U05310          R05742
16963     U05310          R01690
25445     U05310          R06681
33927     U05310          R00780
42409     U05310          R00226

[42410 rows x 2 columns]

## BSPM

In [156]:
BSPM_FOLDER_PATH = './BSPM/results/tmp/'
bspm_rating_idx = pd.read_csv(f'{BSPM_FOLDER_PATH}rating_JOB_960.txt', delimiter=' ', header=None)
bspm_idx = pd.read_csv(f'{BSPM_FOLDER_PATH}user_JOB_960.txt', delimiter=' ', header=None)
bspm_result = pd.concat([bspm_idx, bspm_rating_idx], axis=1)
bspm_result.columns = range(bspm_result.shape[1])

In [157]:
bspm_5 = create_submission(bspm_result, resume_decode, recruitment_decode)

In [152]:
BSPM_FOLDER_PATH = './BSPM/results/'
bspm_rating_idx = pd.read_csv(f'{BSPM_FOLDER_PATH}rating_JOB_960.txt', delimiter=' ', header=None)
bspm_idx = pd.read_csv(f'{BSPM_FOLDER_PATH}user_JOB_960.txt', delimiter=' ', header=None)
bspm_result = pd.concat([bspm_idx, bspm_rating_idx], axis=1)
bspm_result.columns = range(bspm_result.shape[1])

In [153]:
bspm_20 = create_submission(bspm_result, resume_decode, recruitment_decode)
bspm_20.head(10)

      resume_seq recruitment_seq
0         U05833          R00585
8482      U05833          R01455
16964     U05833          R05199
25446     U05833          R03943
33928     U05833          R02439
1         U06456          R00014
8483      U06456          R00615
16965     U06456          R03611
25447     U06456          R01383
33929     U06456          R05156

In [154]:
%run ./functions/metric.py

In [158]:
recall5_dacon(bspm_20, bspm_5)

1.0

In [159]:
bspm_20.to_csv('bspm960.csv', index=False)

## LTOCF

In [141]:
LTOCF_FOLDER_PATH = './LT-OCF/results/tmp/'
ltocf_rating_idx = pd.read_csv(f'{LTOCF_FOLDER_PATH}rating_JOB_360_0.0030__319.txt', delimiter=' ', header=None)
ltocf_idx = pd.read_csv(f'{LTOCF_FOLDER_PATH}user_JOB_360_0.0030__319.txt', delimiter=' ', header=None)
ltocf_result = pd.concat([ltocf_idx, ltocf_rating_idx], axis=1)
ltocf_result.columns = range(ltocf_result.shape[1])

In [145]:
sbm_ltocf = create_submission(ltocf_result, resume_decode, recruitment_decode)
sbm_ltocf.head(10)

      resume_seq recruitment_seq
0         U05833          R00585
8482      U05833          R03943
16964     U05833          R02130
25446     U05833          R05895
33928     U05833          R01455
1         U06456          R01383
8483      U06456          R00014
16965     U06456          R04767
25447     U06456          R03064
33929     U06456          R04027

In [148]:
sbm_ltocf.sort_values('resume_seq').to_csv('ltocf360_319.csv', index=False)