In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
FILE_PATH = './data'
SAVE_PATH = './data'

# [훈련 데이터 생성]

## apply_train 파일 로드

In [3]:
apply = pd.read_csv(f'{FILE_PATH}/apply_train.csv')
apply.head()

  resume_seq recruitment_seq
0     U05833          R03838
1     U06456          R02144
2     U07807          R01877
3     U04842          R02463
4     U08336          R00112

## 딕셔너리 치환 (인코딩, 디코딩)

### Resume 딕셔너리 생성

In [4]:
resume_2_idx = { res : i for i, res in enumerate(apply['resume_seq'].unique())}
[(key, value) for key, value in resume_2_idx.items()][0:10]

[('U05833', 0),
 ('U06456', 1),
 ('U07807', 2),
 ('U04842', 3),
 ('U08336', 4),
 ('U03753', 5),
 ('U01045', 6),
 ('U00825', 7),
 ('U07438', 8),
 ('U01917', 9)]

In [5]:
resume_2_idx.__len__()

8482

In [6]:
idx_2_resume = { i : res for res, i in resume_2_idx.items()}
[(key, value) for key, value in idx_2_resume.items()][0:10]

[(0, 'U05833'),
 (1, 'U06456'),
 (2, 'U07807'),
 (3, 'U04842'),
 (4, 'U08336'),
 (5, 'U03753'),
 (6, 'U01045'),
 (7, 'U00825'),
 (8, 'U07438'),
 (9, 'U01917')]

In [7]:
idx_2_resume.__len__()

8482

In [8]:
np.savetxt(f'{SAVE_PATH}/idx_2_resume.txt', np.array(pd.DataFrame(idx_2_resume.items()).values), fmt='%s')

### Recruitment 딕셔너리 생성

In [9]:
recruitment_2_idx = { rec : i for i, rec in enumerate(apply['recruitment_seq'].unique())}
[(key, value) for key, value in recruitment_2_idx.items()][0:10]

[('R03838', 0),
 ('R02144', 1),
 ('R01877', 2),
 ('R02463', 3),
 ('R00112', 4),
 ('R05448', 5),
 ('R03428', 6),
 ('R04768', 7),
 ('R02907', 8),
 ('R01028', 9)]

In [10]:
recruitment_2_idx.__len__()

6695

In [11]:
idx_2_recruitment = { i : rec for rec, i in recruitment_2_idx.items()}
[(key, value) for key, value in idx_2_recruitment.items()][0:10]

[(0, 'R03838'),
 (1, 'R02144'),
 (2, 'R01877'),
 (3, 'R02463'),
 (4, 'R00112'),
 (5, 'R05448'),
 (6, 'R03428'),
 (7, 'R04768'),
 (8, 'R02907'),
 (9, 'R01028')]

In [12]:
idx_2_recruitment.__len__()

6695

In [13]:
np.savetxt(f'{SAVE_PATH}/idx_2_recruitment.txt', np.array(pd.DataFrame(idx_2_recruitment.items()).values), fmt='%s')

## idx 인코딩 작업

In [14]:
apply['resume_idx'] = apply['resume_seq'].apply(lambda x : resume_2_idx[x])
apply['recruitment_idx'] = apply['recruitment_seq'].apply(lambda x : recruitment_2_idx[x])

In [15]:
apply.tail()

      resume_seq recruitment_seq  resume_idx  recruitment_idx
57941     U02270          R03430         864             3691
57942     U02640          R04987        4358             6176
57943     U08238          R01342        8370             4461
57944     U01296          R06363        1157             3888
57945     U05748          R03090        5662              896

## 제출용 학습 데이터(원본) 생성

In [16]:
origin = apply.groupby('resume_idx')['recruitment_idx'].agg(list).reset_index()
origin = origin['recruitment_idx'].apply(lambda x: ' '.join(map(str,x))).to_frame().reset_index()
origin = origin.rename(columns={'index': 'resume_idx'})
origin

      resume_idx                                    recruitment_idx
0              0                                    0 996 6499 5621
1              1  1 1871 1507 1804 4663 5352 5607 3262 5413 2645...
2              2                    2 4100 3926 3986 4016 6527 1019
3              3                         3 3852 2022 5787 1029 4715
4              4                                        4 3596 3575
...          ...                                                ...
8477        8477                                          5820 5695
8478        8478                                          1274 3309
8479        8479                                          4012 2584
8480        8480                                           425 4397
8481        8481                                          4884 3565

[8482 rows x 2 columns]

* 제출 파일을 만들기 위한 train, test는 같은 파일을 사용합니다.

In [17]:
np.savetxt(f'{SAVE_PATH}/train.txt', origin.values, fmt='%s')
np.savetxt(f'{SAVE_PATH}/test.txt', origin.values, fmt='%s')

# [모델별 학습]

* 각 모델 실행 시 마다 커널을 재시작 해줍니다.

## BSPM

In [18]:
import os
ROOT_PATH = os.getcwd()
RELATIVE_BSPM_PATH = "./BSPM/bspm"

In [19]:
# Root 작업 경로로 변경
os.chdir(ROOT_PATH)

# 현재 작업 경로 출력
print("현재 작업 경로:", os.getcwd())

# 상대 경로를 절대 경로로 변환
absolute_path = os.path.abspath(RELATIVE_BSPM_PATH)

# 작업 경로 변경
os.chdir(absolute_path)

# 변경된 작업 경로 출력
print("변경된 작업 경로:", os.getcwd())

현재 작업 경로: C:\Users\medici\Dacon_Job-Recommendation-System
변경된 작업 경로: C:\Users\medici\Dacon_Job-Recommendation-System\BSPM\bspm

In [20]:
%run main.py --dataset="JOB" --topks="[20]" --simple_model="bspm" --solver_shr="rk4" \
--K_s=1 --T_s=3.5 --final_sharpening=True --idl_beta=0.3 --factor_dim=960

██████╗ ███████╗██████╗ ███╗   ███╗
██╔══██╗██╔════╝██╔══██╗████╗ ████║
██████╔╝███████╗██████╔╝██╔████╔██║
██╔══██╗╚════██║██╔═══╝ ██║╚██╔╝██║
██████╔╝███████║██║     ██║ ╚═╝ ██║
╚═════╝ ╚══════╝╚═╝     ╚═╝     ╚═╝

Cpp extension not loaded
>>SEED: 2020
loading [../data/JOB]
# of user: 8482
# of item: 6695
57946 interactions for training
57946 interactions for testing
JOB Sparsity : 0.0020408195609592974
JOB is ready to go
===========config================
{'A_n_fold': 100,
 'A_split': False,
 'K_b': 1,
 'K_idl': 1,
 'K_s': 1,
 'T_b': 1,
 'T_idl': 1,
 'T_s': 3.5,
 'bigdata': False,
 'bpr_batch_size': 2048,
 'dataset': 'JOB',
 'decay': 0.0001,
 'device': device(type='cuda', index=0),
 'dropout': 0,
 'factor_dim': 960,
 'final_sharpening': True,
 'idl_beta': 0.3,
 'keep_prob': 0.6,
 'latent_dim_rec': 64,
 'lightGCN_n_layers': 3,
 'lr': 0.001,
 'multicore': 0,
 'pretrain': 0,
 'sharpening_off': False,
 'solver_blr': 'euler',
 'solver_idl': 'euler',
 'solver_shr': 'rk4',
 't_point_combination': False,
 'test_u_batch_size': 100}
cores for test: 6
comment: lgn
tensorboard: 1
LOAD: 0
Weight path: ./checkpoints
Test Topks: [20]
using bpr loss
===========end===================
use NORMAL distribution initilizer
loading adjacency matrix
successfully loaded...
don't split the matrix
lgn is already to go(dropout:0)
load and save to C:\Users\medici\Dacon_Job-Recommendation-System\BSPM\code\checkpoints\lgn-JOB-3-64.pth.tar
[TEST]
IDL: euler, BLR: euler, SHR: rk4
IDL factor_dim:  960
IDL $\beta$:  0.3
idl time:  tensor([0., 1.])
blur time:  tensor([0., 1.])
sharpen time:  tensor([0.0000, 3.5000])
final_sharpening:  True
sharpening off:  False
t_point_combination:  False
training time for BSPM 343.2192897796631
{'precision': array([0.]), 'recall': array([0.]), 'ndcg': array([0.])}

## LT-OCF

In [ ]:
os._exit(00)

In [1]:
import os
ROOT_PATH = os.getcwd()
RELATIVE_LTOCF_PATH = "./LT-OCF/code"

In [2]:
# Root 작업 경로로 변경
os.chdir(ROOT_PATH)

# 현재 작업 경로 출력
print("현재 작업 경로:", os.getcwd())

# 상대 경로를 절대 경로로 변환
absolute_path = os.path.abspath(RELATIVE_LTOCF_PATH)

# 작업 경로 변경
os.chdir(absolute_path)

# 변경된 작업 경로 출력
print("변경된 작업 경로:", os.getcwd())

현재 작업 경로: C:\Users\medici\Dacon_Job-Recommendation-System
변경된 작업 경로: C:\Users\medici\Dacon_Job-Recommendation-System\LT-OCF\code

In [3]:
%run main.py --dataset="JOB" --model="ltocf" --solver="rk4" --adjoint=False \
--K=4 --learnable_time=False --dual_res=False --lr=1e-3 --lr_time=1e-3 \
--decay=1e-4 --topks="[20]" --tensorboard=1 --gpuid=0 \
--epochs=320 --layer=2 --recdim=360 --bpr_batch=2048 --pretrain=0

현재 사용 중인 GPU 디바이스: NVIDIA GeForce RTX 2070

██╗  ████████╗    ██████╗  ██████╗███████╗
██║  ╚══██╔══╝   ██╔═══██╗██╔════╝██╔════╝
██║     ██║█████╗██║   ██║██║     █████╗
██║     ██║╚════╝██║   ██║██║     ██╔══╝
███████╗██║      ╚██████╔╝╚██████╗██║
╚══════╝╚═╝       ╚═════╝  ╚═════╝╚═╝

Current cuda device  0
>>SEED: 2020
loading [../data/JOB]
57946 interactions for training
57946 interactions for testing
JOB Sparsity : 0.0020408195609592974
JOB is ready to go
===========config================
{'A_n_fold': 100,
 'A_split': False,
 'K': 4.0,
 'bigdata': False,
 'bpr_batch_size': 2048,
 'decay': 0.0001,
 'dropout': 0,
 'dual_res': False,
 'keep_prob': 0.6,
 'latent_dim_rec': 360,
 'learnable_time': False,
 'lightGCN_n_layers': 2,
 'lr': 0.001,
 'lr_time': 0.001,
 'multicore': 0,
 'pretrain': 0,
 'pretrained_file_name': 'ltocf',
 'solver': 'rk4',
 'test_u_batch_size': 512,
 'time_split': 4}
cores for test: 6
comment: lt-ncf
tensorboard: 1
LOAD: 0
Weight path: ./checkpoints
Test Topks: [20]
using bpr loss
adjoint method: False
===========end===================
use NORMAL distribution initilizer
loading adjacency matrix
successfully loaded...
don't split the matrix
lgn is already to go(dropout:0)
load and save to C:\Users\medici\Dacon_Job-Recommendation-System\LT-OCF\code\pretrain\ltocf
[TEST]
Train time: 2.4527s
EPOCH[1/320] ('loss0.48436-|Sample:0.02|', 0.48435897946357725)
Train time: 2.2466s
EPOCH[2/320] ('loss0.21276-|Sample:0.02|', 0.21275581538677216)
Train time: 2.2499s
EPOCH[3/320] ('loss0.12019-|Sample:0.00|', 0.1201887884736061)
Train time: 2.2506s
EPOCH[4/320] ('loss0.08870-|Sample:0.02|', 0.0886970180273056)
Train time: 2.2529s
EPOCH[5/320] ('loss0.07577-|Sample:0.00|', 0.07577136009931565)
Train time: 2.2518s
EPOCH[6/320] ('loss0.06049-|Sample:0.02|', 0.060489084869623184)
Train time: 2.2511s
EPOCH[7/320] ('loss0.05630-|Sample:0.00|', 0.056301176249980926)
Train time: 2.2533s
EPOCH[8/320] ('loss0.05059-|Sample:0.02|', 0.05058604940772057)
Train time: 2.2534s
EPOCH[9/320] ('loss0.04506-|Sample:0.00|', 0.04506228655576706)
Train time: 2.2565s
EPOCH[10/320] ('loss0.04100-|Sample:0.02|', 0.0409984190762043)
[TEST]
Train time: 2.2598s
EPOCH[11/320] ('loss0.03979-|Sample:0.00|', 0.039785194247961043)
Train time: 2.2574s
EPOCH[12/320] ('loss0.03786-|Sample:0.02|', 0.03786430239677429)
Train time: 2.2646s
EPOCH[13/320] ('loss0.03568-|Sample:0.00|', 0.03568224839866161)
Train time: 2.2630s
EPOCH[14/320] ('loss0.03213-|Sample:0.00|', 0.03212520204484463)
Train time: 2.2676s
EPOCH[15/320] ('loss0.03039-|Sample:0.02|', 0.03039292611181736)
Train time: 2.2658s
EPOCH[16/320] ('loss0.02917-|Sample:0.00|', 0.02917462058365345)
Train time: 2.2684s
EPOCH[17/320] ('loss0.02764-|Sample:0.00|', 0.027637907937169075)
Train time: 2.2684s
EPOCH[18/320] ('loss0.02734-|Sample:0.00|', 0.027335408553481103)
Train time: 2.2668s
EPOCH[19/320] ('loss0.02599-|Sample:0.00|', 0.025992529466748238)
Train time: 2.2625s
EPOCH[20/320] ('loss0.02401-|Sample:0.00|', 0.024009873755276204)
[TEST]
Train time: 2.2683s
EPOCH[21/320] ('loss0.02414-|Sample:0.02|', 0.024135743975639345)
Train time: 2.2696s
EPOCH[22/320] ('loss0.02211-|Sample:0.02|', 0.022113450765609742)
Train time: 2.2708s
EPOCH[23/320] ('loss0.02170-|Sample:0.00|', 0.021700881980359556)
Train time: 2.2716s
EPOCH[24/320] ('loss0.02178-|Sample:0.02|', 0.021781452149152756)
Train time: 2.3272s
EPOCH[25/320] ('loss0.02096-|Sample:0.00|', 0.020958555340766908)
Train time: 2.2853s
EPOCH[26/320] ('loss0.01938-|Sample:0.01|', 0.019375299923121928)
Train time: 2.2756s
EPOCH[27/320] ('loss0.01985-|Sample:0.02|', 0.019851503260433674)
Train time: 2.2782s
EPOCH[28/320] ('loss0.01927-|Sample:0.00|', 0.01927199274301529)
Train time: 2.2761s
EPOCH[29/320] ('loss0.01762-|Sample:0.02|', 0.01762398563325405)
Train time: 2.2956s
EPOCH[30/320] ('loss0.01781-|Sample:0.02|', 0.017814282663166522)
[TEST]
Train time: 2.3143s
EPOCH[31/320] ('loss0.01602-|Sample:0.02|', 0.016020781621336938)
Train time: 2.2844s
EPOCH[32/320] ('loss0.01631-|Sample:0.00|', 0.01630984991788864)
Train time: 2.2716s
EPOCH[33/320] ('loss0.01750-|Sample:0.02|', 0.017497424706816672)
Train time: 2.3119s
EPOCH[34/320] ('loss0.01621-|Sample:0.02|', 0.016212990172207356)
Train time: 2.2967s
EPOCH[35/320] ('loss0.01527-|Sample:0.02|', 0.015265493094921112)
Train time: 2.3266s
EPOCH[36/320] ('loss0.01633-|Sample:0.01|', 0.016331859193742276)
Train time: 2.2798s
EPOCH[37/320] ('loss0.01531-|Sample:0.01|', 0.015308074131608009)
Train time: 2.3017s
EPOCH[38/320] ('loss0.01464-|Sample:0.00|', 0.014639775790274144)
Train time: 2.2950s
EPOCH[39/320] ('loss0.01448-|Sample:0.01|', 0.014479032531380654)
Train time: 2.2936s
EPOCH[40/320] ('loss0.01436-|Sample:0.02|', 0.014358954615890979)
[TEST]
Train time: 2.3034s
EPOCH[41/320] ('loss0.01399-|Sample:0.01|', 0.013987738639116287)
Train time: 2.2804s
EPOCH[42/320] ('loss0.01300-|Sample:0.02|', 0.012997434698045254)
Train time: 2.2769s
EPOCH[43/320] ('loss0.01294-|Sample:0.00|', 0.012942017577588559)
Train time: 2.2680s
EPOCH[44/320] ('loss0.01221-|Sample:0.02|', 0.012205905057489872)
Train time: 2.3433s
EPOCH[45/320] ('loss0.01292-|Sample:0.02|', 0.012922758907079697)
Train time: 2.3660s
EPOCH[46/320] ('loss0.01240-|Sample:0.01|', 0.012401915229856968)
Train time: 2.3124s
EPOCH[47/320] ('loss0.01275-|Sample:0.00|', 0.012746291495859622)
Train time: 2.2760s
EPOCH[48/320] ('loss0.01193-|Sample:0.01|', 0.011928997673094273)
Train time: 2.3136s
EPOCH[49/320] ('loss0.01104-|Sample:0.01|', 0.011040588617324829)
Train time: 2.2726s
EPOCH[50/320] ('loss0.01153-|Sample:0.02|', 0.011534673217684031)
[TEST]
Train time: 2.2715s
EPOCH[51/320] ('loss0.01179-|Sample:0.02|', 0.011789184734225274)
Train time: 2.2920s
EPOCH[52/320] ('loss0.01195-|Sample:0.01|', 0.011947279311716557)
Train time: 2.2854s
EPOCH[53/320] ('loss0.01012-|Sample:0.02|', 0.010118718352168798)
Train time: 2.3459s
EPOCH[54/320] ('loss0.01094-|Sample:0.02|', 0.010938490852713584)
Train time: 2.2860s
EPOCH[55/320] ('loss0.01167-|Sample:0.02|', 0.011667026616632938)
Train time: 2.2837s
EPOCH[56/320] ('loss0.01040-|Sample:0.02|', 0.010402301270514726)
Train time: 2.3458s
EPOCH[57/320] ('loss0.01019-|Sample:0.02|', 0.010193674135953188)
Train time: 2.3277s
EPOCH[58/320] ('loss0.01012-|Sample:0.01|', 0.010115799363702535)
Train time: 2.2857s
EPOCH[59/320] ('loss0.00911-|Sample:0.00|', 0.009111886601895094)
Train time: 2.2797s
EPOCH[60/320] ('loss0.00970-|Sample:0.02|', 0.009703112784773111)
[TEST]
Train time: 2.2834s
EPOCH[61/320] ('loss0.00935-|Sample:0.02|', 0.009349186066538095)
Train time: 2.2841s
EPOCH[62/320] ('loss0.00907-|Sample:0.02|', 0.009071444123983384)
Train time: 2.2886s
EPOCH[63/320] ('loss0.00891-|Sample:0.00|', 0.008913575280457735)
Train time: 2.2853s
EPOCH[64/320] ('loss0.00895-|Sample:0.02|', 0.008949275631457566)
Train time: 2.2858s
EPOCH[65/320] ('loss0.00889-|Sample:0.02|', 0.0088899128139019)
Train time: 2.2860s
EPOCH[66/320] ('loss0.00919-|Sample:0.00|', 0.009190693926066161)
Train time: 2.2876s
EPOCH[67/320] ('loss0.00929-|Sample:0.00|', 0.009289576336741448)
Train time: 2.2856s
EPOCH[68/320] ('loss0.00922-|Sample:0.00|', 0.009223380163311957)
Train time: 2.2845s
EPOCH[69/320] ('loss0.00918-|Sample:0.02|', 0.00918167607858777)
Train time: 2.2805s
EPOCH[70/320] ('loss0.00863-|Sample:0.02|', 0.008630931694060564)
[TEST]
Train time: 2.2861s
EPOCH[71/320] ('loss0.00837-|Sample:0.02|', 0.008369845394045115)
Train time: 2.2826s
EPOCH[72/320] ('loss0.00806-|Sample:0.00|', 0.008060369305312634)
Train time: 2.2845s
EPOCH[73/320] ('loss0.00840-|Sample:0.02|', 0.008404501248151064)
Train time: 2.2842s
EPOCH[74/320] ('loss0.00861-|Sample:0.00|', 0.008607812337577342)
Train time: 2.2869s
EPOCH[75/320] ('loss0.00792-|Sample:0.00|', 0.007920373771339655)
Train time: 2.2955s
EPOCH[76/320] ('loss0.00764-|Sample:0.02|', 0.007642135489732027)
Train time: 2.2879s
EPOCH[77/320] ('loss0.00875-|Sample:0.02|', 0.00874927882105112)
Train time: 2.2868s
EPOCH[78/320] ('loss0.00813-|Sample:0.00|', 0.008131618406623601)
Train time: 2.2826s
EPOCH[79/320] ('loss0.00778-|Sample:0.02|', 0.007780688907951116)
Train time: 2.2808s
EPOCH[80/320] ('loss0.00745-|Sample:0.00|', 0.007447373401373625)
[TEST]
Train time: 2.2871s
EPOCH[81/320] ('loss0.00784-|Sample:0.01|', 0.007842770535498858)
Train time: 2.2821s
EPOCH[82/320] ('loss0.00790-|Sample:0.02|', 0.007900599744170905)
Train time: 2.2831s
EPOCH[83/320] ('loss0.00737-|Sample:0.00|', 0.0073731947503983975)
Train time: 2.2854s
EPOCH[84/320] ('loss0.00769-|Sample:0.02|', 0.007692297082394361)
Train time: 2.2821s
EPOCH[85/320] ('loss0.00773-|Sample:0.02|', 0.007728760261088609)
Train time: 2.2805s
EPOCH[86/320] ('loss0.00737-|Sample:0.00|', 0.007371655032038689)
Train time: 2.2819s
EPOCH[87/320] ('loss0.00671-|Sample:0.00|', 0.006709150820970535)
Train time: 2.2872s
EPOCH[88/320] ('loss0.00726-|Sample:0.00|', 0.007263918407261372)
Train time: 2.2837s
EPOCH[89/320] ('loss0.00621-|Sample:0.02|', 0.006213262844830751)
Train time: 2.2855s
EPOCH[90/320] ('loss0.00720-|Sample:0.00|', 0.007204047478735447)
[TEST]
Train time: 2.2899s
EPOCH[91/320] ('loss0.00727-|Sample:0.02|', 0.0072703780047595505)
Train time: 2.3453s
EPOCH[92/320] ('loss0.00732-|Sample:0.01|', 0.007315497035160661)
Train time: 2.2925s
EPOCH[93/320] ('loss0.00656-|Sample:0.01|', 0.006555063761770725)
Train time: 2.2876s
EPOCH[94/320] ('loss0.00716-|Sample:0.00|', 0.0071641226019710305)
Train time: 2.2865s
EPOCH[95/320] ('loss0.00702-|Sample:0.00|', 0.00701514083892107)
Train time: 2.2851s
EPOCH[96/320] ('loss0.00680-|Sample:0.00|', 0.006797384759411215)
Train time: 2.2893s
EPOCH[97/320] ('loss0.00648-|Sample:0.00|', 0.0064783629775047305)
Train time: 2.2854s
EPOCH[98/320] ('loss0.00624-|Sample:0.00|', 0.006237095035612583)
Train time: 2.2858s
EPOCH[99/320] ('loss0.00689-|Sample:0.02|', 0.006894007325172424)
Train time: 2.2887s
EPOCH[100/320] ('loss0.00605-|Sample:0.00|', 0.006049954518675804)
[TEST]
Train time: 2.2906s
EPOCH[101/320] ('loss0.00629-|Sample:0.00|', 0.006289206109941005)
Train time: 2.2885s
EPOCH[102/320] ('loss0.00703-|Sample:0.02|', 0.007031099535524845)
Train time: 2.2858s
EPOCH[103/320] ('loss0.00649-|Sample:0.00|', 0.006491252835839987)
Train time: 2.2855s
EPOCH[104/320] ('loss0.00586-|Sample:0.02|', 0.005860160114243626)
Train time: 2.2906s
EPOCH[105/320] ('loss0.00597-|Sample:0.02|', 0.005970563050359487)
Train time: 2.3196s
EPOCH[106/320] ('loss0.00587-|Sample:0.02|', 0.005873940959572792)
Train time: 2.2884s
EPOCH[107/320] ('loss0.00642-|Sample:0.02|', 0.006422691289335489)
Train time: 2.2828s
EPOCH[108/320] ('loss0.00587-|Sample:0.02|', 0.00587277403101325)
Train time: 2.2861s
EPOCH[109/320] ('loss0.00597-|Sample:0.02|', 0.0059721445851027965)
Train time: 2.2793s
EPOCH[110/320] ('loss0.00539-|Sample:0.02|', 0.00539284685626626)
[TEST]
Train time: 2.2874s
EPOCH[111/320] ('loss0.00609-|Sample:0.02|', 0.006092792265117168)
Train time: 2.2846s
EPOCH[112/320] ('loss0.00640-|Sample:0.00|', 0.006396413743495941)
Train time: 2.2881s
EPOCH[113/320] ('loss0.00549-|Sample:0.02|', 0.005489829583093524)
Train time: 2.2959s
EPOCH[114/320] ('loss0.00638-|Sample:0.00|', 0.006380360648036003)
Train time: 2.2861s
EPOCH[115/320] ('loss0.00593-|Sample:0.02|', 0.00593348503112793)
Train time: 2.2867s
EPOCH[116/320] ('loss0.00582-|Sample:0.02|', 0.005822753086686134)
Train time: 2.2870s
EPOCH[117/320] ('loss0.00564-|Sample:0.02|', 0.005642482256516815)
Train time: 2.2924s
EPOCH[118/320] ('loss0.00514-|Sample:0.02|', 0.005140091702342034)
Train time: 2.2888s
EPOCH[119/320] ('loss0.00528-|Sample:0.02|', 0.00527544854208827)
Train time: 2.2857s
EPOCH[120/320] ('loss0.00517-|Sample:0.00|', 0.0051701459102332595)
[TEST]
Train time: 2.2861s
EPOCH[121/320] ('loss0.00595-|Sample:0.00|', 0.005954405777156353)
Train time: 2.2874s
EPOCH[122/320] ('loss0.00505-|Sample:0.02|', 0.005052927900105714)
Train time: 2.2882s
EPOCH[123/320] ('loss0.00500-|Sample:0.00|', 0.004997632158920169)
Train time: 2.2900s
EPOCH[124/320] ('loss0.00557-|Sample:0.00|', 0.0055709015019238)
Train time: 2.2960s
EPOCH[125/320] ('loss0.00553-|Sample:0.00|', 0.005531699573621154)
Train time: 2.2922s
EPOCH[126/320] ('loss0.00532-|Sample:0.00|', 0.0053154796548187735)
Train time: 2.2618s
EPOCH[127/320] ('loss0.00523-|Sample:0.02|', 0.005226760925725102)
Train time: 2.2870s
EPOCH[128/320] ('loss0.00563-|Sample:0.02|', 0.0056307496875524525)
Train time: 2.2915s
EPOCH[129/320] ('loss0.00595-|Sample:0.00|', 0.005947932563722134)
Train time: 2.2870s
EPOCH[130/320] ('loss0.00529-|Sample:0.02|', 0.005288585349917412)
[TEST]
Train time: 2.2872s
EPOCH[131/320] ('loss0.00541-|Sample:0.02|', 0.005409965422004461)
Train time: 2.2840s
EPOCH[132/320] ('loss0.00555-|Sample:0.00|', 0.005553365293890238)
Train time: 2.2889s
EPOCH[133/320] ('loss0.00529-|Sample:0.02|', 0.005287208529189229)
Train time: 2.2857s
EPOCH[134/320] ('loss0.00540-|Sample:0.00|', 0.005396033218130469)
Train time: 2.2877s
EPOCH[135/320] ('loss0.00524-|Sample:0.00|', 0.005243608169257641)
Train time: 2.2878s
EPOCH[136/320] ('loss0.00512-|Sample:0.00|', 0.005124164158478379)
Train time: 2.2796s
EPOCH[137/320] ('loss0.00534-|Sample:0.02|', 0.0053396091517060994)
Train time: 2.2848s
EPOCH[138/320] ('loss0.00476-|Sample:0.00|', 0.004762740563601256)
Train time: 2.2896s
EPOCH[139/320] ('loss0.00472-|Sample:0.02|', 0.004721782952547073)
Train time: 2.2890s
EPOCH[140/320] ('loss0.00495-|Sample:0.00|', 0.004946332741528749)
[TEST]
Train time: 2.2888s
EPOCH[141/320] ('loss0.00489-|Sample:0.00|', 0.004894486078992486)
Train time: 2.2843s
EPOCH[142/320] ('loss0.00474-|Sample:0.00|', 0.004736082535237074)
Train time: 2.2856s
EPOCH[143/320] ('loss0.00492-|Sample:0.02|', 0.004918493572622537)
Train time: 2.2940s
EPOCH[144/320] ('loss0.00476-|Sample:0.02|', 0.004763815458863974)
Train time: 2.2929s
EPOCH[145/320] ('loss0.00488-|Sample:0.00|', 0.004876039391383528)
Train time: 2.2867s
EPOCH[146/320] ('loss0.00502-|Sample:0.02|', 0.005021942220628262)
Train time: 2.2864s
EPOCH[147/320] ('loss0.00509-|Sample:0.02|', 0.00508859253488481)
Train time: 2.2974s
EPOCH[148/320] ('loss0.00485-|Sample:0.01|', 0.004849373269826174)
Train time: 2.3111s
EPOCH[149/320] ('loss0.00486-|Sample:0.02|', 0.004861339787021279)
Train time: 2.2890s
EPOCH[150/320] ('loss0.00505-|Sample:0.00|', 0.005049499114975333)
[TEST]
Train time: 2.2895s
EPOCH[151/320] ('loss0.00483-|Sample:0.02|', 0.004829560033977031)
Train time: 2.2879s
EPOCH[152/320] ('loss0.00460-|Sample:0.02|', 0.004599605305120349)
Train time: 2.2902s
EPOCH[153/320] ('loss0.00531-|Sample:0.02|', 0.005314846187829971)
Train time: 2.2872s
EPOCH[154/320] ('loss0.00454-|Sample:0.00|', 0.004544827630743384)
Train time: 2.2924s
EPOCH[155/320] ('loss0.00493-|Sample:0.02|', 0.004930676501244307)
Train time: 2.2885s
EPOCH[156/320] ('loss0.00503-|Sample:0.02|', 0.005028294380754233)
Train time: 2.2899s
EPOCH[157/320] ('loss0.00453-|Sample:0.02|', 0.004528691926971078)
Train time: 2.2848s
EPOCH[158/320] ('loss0.00458-|Sample:0.00|', 0.004584133727476001)
Train time: 2.2886s
EPOCH[159/320] ('loss0.00446-|Sample:0.00|', 0.004464563876390457)
Train time: 2.2864s
EPOCH[160/320] ('loss0.00460-|Sample:0.00|', 0.004596170503646135)
[TEST]
Train time: 2.2858s
EPOCH[161/320] ('loss0.00450-|Sample:0.02|', 0.004499806510284543)
Train time: 2.2880s
EPOCH[162/320] ('loss0.00436-|Sample:0.02|', 0.004358552731573582)
Train time: 2.2919s
EPOCH[163/320] ('loss0.00471-|Sample:0.02|', 0.0047116581443697216)
Train time: 2.2839s
EPOCH[164/320] ('loss0.00464-|Sample:0.00|', 0.00463747413828969)
Train time: 2.2883s
EPOCH[165/320] ('loss0.00496-|Sample:0.00|', 0.004958583749830723)
Train time: 2.2898s
EPOCH[166/320] ('loss0.00460-|Sample:0.02|', 0.00460440345108509)
Train time: 2.2871s
EPOCH[167/320] ('loss0.00478-|Sample:0.02|', 0.004784225625917316)
Train time: 2.2878s
EPOCH[168/320] ('loss0.00430-|Sample:0.02|', 0.0042985320836305616)
Train time: 2.2894s
EPOCH[169/320] ('loss0.00473-|Sample:0.00|', 0.004725083885714412)
Train time: 2.2870s
EPOCH[170/320] ('loss0.00437-|Sample:0.02|', 0.004373315703123808)
[TEST]
Train time: 2.2965s
EPOCH[171/320] ('loss0.00466-|Sample:0.00|', 0.004657622622326016)
Train time: 2.2950s
EPOCH[172/320] ('loss0.00427-|Sample:0.02|', 0.004269597744569182)
Train time: 2.2867s
EPOCH[173/320] ('loss0.00408-|Sample:0.02|', 0.00407771940343082)
Train time: 2.2853s
EPOCH[174/320] ('loss0.00451-|Sample:0.00|', 0.0045069596823304895)
Train time: 2.2871s
EPOCH[175/320] ('loss0.00442-|Sample:0.02|', 0.004420668827369809)
Train time: 2.2874s
EPOCH[176/320] ('loss0.00417-|Sample:0.00|', 0.00417374286800623)
Train time: 2.2870s
EPOCH[177/320] ('loss0.00436-|Sample:0.02|', 0.004361837236210704)
Train time: 2.2826s
EPOCH[178/320] ('loss0.00453-|Sample:0.02|', 0.004531593723222613)
Train time: 2.2853s
EPOCH[179/320] ('loss0.00442-|Sample:0.02|', 0.004419168457388878)
Train time: 2.2880s
EPOCH[180/320] ('loss0.00394-|Sample:0.02|', 0.003937413189560175)
[TEST]
Train time: 2.2906s
EPOCH[181/320] ('loss0.00428-|Sample:0.02|', 0.004284081151708961)
Train time: 2.2876s
EPOCH[182/320] ('loss0.00418-|Sample:0.00|', 0.004175136024132371)
Train time: 2.2962s
EPOCH[183/320] ('loss0.00391-|Sample:0.02|', 0.0039087868295609954)
Train time: 2.3578s
EPOCH[184/320] ('loss0.00417-|Sample:0.01|', 0.004171222122386098)
Train time: 2.3646s
EPOCH[185/320] ('loss0.00406-|Sample:0.01|', 0.0040591307170689105)
Train time: 2.3699s
EPOCH[186/320] ('loss0.00403-|Sample:0.01|', 0.004029991338029504)
Train time: 2.2804s
EPOCH[187/320] ('loss0.00414-|Sample:0.02|', 0.004136893833056092)
Train time: 2.2855s
EPOCH[188/320] ('loss0.00428-|Sample:0.00|', 0.004276787806302309)
Train time: 2.3096s
EPOCH[189/320] ('loss0.00416-|Sample:0.02|', 0.004160557659342885)
Train time: 2.2881s
EPOCH[190/320] ('loss0.00454-|Sample:0.02|', 0.0045350516680628065)
[TEST]
Train time: 2.3045s
EPOCH[191/320] ('loss0.00421-|Sample:0.00|', 0.0042101956065744165)
Train time: 2.2871s
EPOCH[192/320] ('loss0.00426-|Sample:0.02|', 0.004259720398113132)
Train time: 2.2877s
EPOCH[193/320] ('loss0.00405-|Sample:0.00|', 0.004053478259593248)
Train time: 2.2921s
EPOCH[194/320] ('loss0.00420-|Sample:0.02|', 0.0042006361670792105)
Train time: 2.2886s
EPOCH[195/320] ('loss0.00437-|Sample:0.02|', 0.004371007243171334)
Train time: 2.3066s
EPOCH[196/320] ('loss0.00428-|Sample:0.02|', 0.004276464339345694)
Train time: 2.3573s
EPOCH[197/320] ('loss0.00365-|Sample:0.01|', 0.00365299797616899)
Train time: 2.2957s
EPOCH[198/320] ('loss0.00417-|Sample:0.01|', 0.004173449464142323)
Train time: 2.2838s
EPOCH[199/320] ('loss0.00412-|Sample:0.02|', 0.004117347281426192)
Train time: 2.2771s
EPOCH[200/320] ('loss0.00426-|Sample:0.00|', 0.004255077242851258)
[TEST]
Train time: 2.3137s
EPOCH[201/320] ('loss0.00391-|Sample:0.01|', 0.00391023674979806)
Train time: 2.2760s
EPOCH[202/320] ('loss0.00397-|Sample:0.00|', 0.003974722381681204)
Train time: 2.2765s
EPOCH[203/320] ('loss0.00427-|Sample:0.00|', 0.004274484571069479)
Train time: 2.2799s
EPOCH[204/320] ('loss0.00439-|Sample:0.02|', 0.0043890923820436)
Train time: 2.2839s
EPOCH[205/320] ('loss0.00388-|Sample:0.00|', 0.0038792237360030413)
Train time: 2.2910s
EPOCH[206/320] ('loss0.00419-|Sample:0.02|', 0.00419469004496932)
Train time: 2.2905s
EPOCH[207/320] ('loss0.00373-|Sample:0.00|', 0.0037266032677143813)
Train time: 2.2846s
EPOCH[208/320] ('loss0.00384-|Sample:0.02|', 0.0038399766758084298)
Train time: 2.2838s
EPOCH[209/320] ('loss0.00447-|Sample:0.02|', 0.004469453813508153)
Train time: 2.2897s
EPOCH[210/320] ('loss0.00393-|Sample:0.00|', 0.0039323840010911226)
[TEST]
Train time: 2.2890s
EPOCH[211/320] ('loss0.00406-|Sample:0.02|', 0.0040633902139961715)
Train time: 2.2780s
EPOCH[212/320] ('loss0.00375-|Sample:0.00|', 0.0037472498510032893)
Train time: 2.2777s
EPOCH[213/320] ('loss0.00373-|Sample:0.00|', 0.0037273185793310405)
Train time: 2.2825s
EPOCH[214/320] ('loss0.00394-|Sample:0.00|', 0.003943131007254123)
Train time: 2.2764s

## CF

In [ ]:
os._exit(0)

In [1]:
import os
ROOT_PATH = os.getcwd()
RELATIVE_SSCF_PATH = "./SSCF/sscf"

In [2]:
# Root 작업 경로로 변경
os.chdir(ROOT_PATH)

# 현재 작업 경로 출력
print("현재 작업 경로:", os.getcwd())

# 상대 경로를 절대 경로로 변환
absolute_path = os.path.abspath(RELATIVE_SSCF_PATH)

# 작업 경로 변경
os.chdir(absolute_path)

# 변경된 작업 경로 출력
print("변경된 작업 경로:", os.getcwd())

현재 작업 경로: C:\Users\medici\Dacon_Job-Recommendation-System
변경된 작업 경로: C:\Users\medici\Dacon_Job-Recommendation-System\SSCF\sscf

In [3]:
%run main.py --dataset="JOB" --test="test" --gamma=0.2 --similarity="pearson"

[gamma] '0.2', [similarity] 'pearson'

reading data...
measuring similarity of users...
measuring user-based recommendations...
measuring similarity of items...
measuring item-based recommendations...
measuring final model recommendations...
measuring performance of final model...

[final model]
recall@20: 0.00000

--------------------------------------------------------------------------------
Total Time: 21.39 seconds

# [앙상블]

In [ ]:
import os
os._exit(0)

In [2]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import MinMaxScaler, StandardScaler

## File load

In [3]:
LTOCF_FOLDER_PATH = './LT-OCF/results/'
BSPM_FOLDER_PATH = './BSPM/results/'
SSCF_FOLDER_PATH = './SSCF/results/'

In [4]:
LTOCF_FILE_NAME = 'JOB_360_0.0030__319'
BSPM_FILE_NAME = 'JOB_960'

### LT-OCF

In [5]:
lt_proba = pd.read_csv(f'{LTOCF_FOLDER_PATH}proba_{LTOCF_FILE_NAME}.txt', delimiter=' ', header=None)
lt_rating_idx= pd.read_csv(f'{LTOCF_FOLDER_PATH}rating_{LTOCF_FILE_NAME}.txt', delimiter=' ', header=None)
lt_user = pd.read_csv(f'{LTOCF_FOLDER_PATH}user_{LTOCF_FILE_NAME}.txt', delimiter=' ', header=None)

### BSPM

In [6]:
bspm_proba = pd.read_csv(f'{BSPM_FOLDER_PATH}proba_{BSPM_FILE_NAME}.txt', delimiter=' ', header=None)
bspm_rating_idx= pd.read_csv(f'{BSPM_FOLDER_PATH}rating_{BSPM_FILE_NAME}.txt', delimiter=' ', header=None)
bspm_user = pd.read_csv(f'{BSPM_FOLDER_PATH}user_{BSPM_FILE_NAME}.txt', delimiter=' ', header=None)

### SSCF

In [7]:
sscf_proba = pd.read_csv(f'{SSCF_FOLDER_PATH}pred_prob_list_20.txt', delimiter=' ', header=None)
sscf_rating_idx= pd.read_csv(f'{SSCF_FOLDER_PATH}pred_idx_list_20.txt', delimiter=' ', header=None)

## LT-OCF DF 생성

In [8]:
lt_proba_df = pd.concat([lt_user, lt_proba], axis=1)
lt_proba_df.head()

,0,0,1,2,3,4,5,6,7,8,...,10,11,12,13,14,15,16,17,18,19
0,0,0.999983,0.999955,0.999934,0.999892,0.999884,0.999884,0.999808,0.999793,0.999778,...,0.999753,0.999709,0.999684,0.999586,0.999557,0.999508,0.999494,0.999261,0.999212,0.999158
1,1,0.999989,0.999978,0.999975,0.999970,0.999968,0.999954,0.999950,0.999945,0.999937,...,0.999923,0.999913,0.999910,0.999898,0.999894,0.999893,0.999893,0.999891,0.999888,0.999884
2,2,0.999956,0.999931,0.999911,0.999906,0.999897,0.999860,0.999852,0.999849,0.999827,...,0.999756,0.999740,0.999729,0.999714,0.999699,0.999670,0.999640,0.999637,0.999632,0.999625
3,3,0.999982,0.999981,0.999965,0.999957,0.999927,0.999923,0.999915,0.999915,0.999885,...,0.999841,0.999830,0.999816,0.999768,0.999749,0.999735,0.999728,0.999710,0.999682,0.999668
4,4,0.999793,0.999759,0.999745,0.999717,0.999625,0.999623,0.999466,0.999358,0.999341,...,0.999190,0.999189,0.999020,0.998515,0.998202,0.998198,0.998030,0.998006,0.997997,0.997950

In [9]:
lt_idx_df = pd.concat([lt_user, lt_rating_idx], axis=1)
lt_idx_df.head()

,0,0,1,2,3,4,5,6,7,8,...,10,11,12,13,14,15,16,17,18,19
0,0,357,156,1965,1030,2832,5164,4675,4670,6228,...,3195,4050,1051,5279,5358,161,2502,3641,5598,5450
1,1,419,3275,1747,2688,961,2924,5060,1660,3370,...,2574,1746,4350,2881,5096,6250,1749,2650,2554,643
2,2,480,5791,1454,6060,716,3543,4932,4726,5093,...,6213,5851,1790,4745,2895,5260,5226,4475,1672,4244
3,3,3575,534,2219,870,800,1188,5210,2739,3364,...,2390,6163,2264,434,1919,2072,1946,2475,841,913
4,4,5085,5229,3691,3637,1188,2428,4782,1094,1986,...,2893,825,1001,800,5329,2857,3074,594,2934,1385

## BSPM DF 생성

In [10]:
bspm_proba_df = pd.concat([bspm_user, bspm_proba], axis=1)
bspm_proba_df.head()

,0,0,1,2,3,4,5,6,7,8,...,10,11,12,13,14,15,16,17,18,19
0,0,0.064493,0.051239,0.050869,0.046182,0.040701,0.036274,0.034129,0.033497,0.032029,...,0.030471,0.030239,0.029476,0.029303,0.027880,0.027160,0.025285,0.024519,0.024484,0.023947
1,1,0.080086,0.075567,0.073841,0.072431,0.070084,0.065038,0.063998,0.063467,0.062092,...,0.060555,0.059121,0.058809,0.058299,0.057959,0.057243,0.055875,0.055593,0.053641,0.052832
2,2,0.063191,0.047769,0.041074,0.040986,0.038470,0.038455,0.037921,0.036122,0.035649,...,0.033184,0.031998,0.031256,0.030993,0.030105,0.029818,0.029745,0.029692,0.029385,0.029359
3,3,0.162731,0.153145,0.101066,0.094658,0.093844,0.079816,0.076262,0.076080,0.066872,...,0.063550,0.063116,0.061223,0.058880,0.057382,0.057093,0.056032,0.054265,0.054000,0.052819
4,4,0.041308,0.039246,0.037293,0.034734,0.034231,0.029262,0.029196,0.029115,0.029075,...,0.027709,0.027645,0.027118,0.026612,0.025969,0.025766,0.025761,0.025566,0.025356,0.023943

In [11]:
bspm_idx_df = pd.concat([bspm_user, bspm_rating_idx], axis=1)
bspm_idx_df.head()

,0,0,1,2,3,4,5,6,7,8,...,10,11,12,13,14,15,16,17,18,19
0,0,357,2832,1407,156,1403,5164,2576,4704,3349,...,161,1965,3641,4670,6226,5279,1653,2502,6228,3374
1,1,3275,1709,2396,419,643,2688,3739,3230,2138,...,961,1747,1725,1660,3097,5060,3015,1068,1508,3779
2,2,1454,1790,5791,5260,4726,2147,5246,716,3543,...,5377,1447,5239,6398,5093,2512,4244,2834,1000,4855
3,3,2219,2739,3575,4258,3364,6276,1188,434,6163,...,5308,870,1094,3691,4434,800,5210,5137,2072,2475
4,4,1029,5085,3691,5229,3637,4782,5787,5329,1188,...,2739,3852,783,4652,870,825,1094,2264,594,2893

## LT-OCF, SSCF, BSPM 중복 비교

In [12]:
# 각 행별로 컬럼의 원소를 set에 저장
lt_row_sets = [set(row) for _, row in lt_rating_idx.iloc[:, 1:].iterrows()]
sscf_row_sets = [set(row) for _, row in sscf_rating_idx.iloc[:, 1:].iterrows()]
bspm_row_sets = [set(row) for _, row in bspm_rating_idx.iloc[:, 1:].iterrows()]

### LT-OCF / SSCF

In [13]:
data = []
for i in range(len(lt_row_sets)):
    inter = lt_row_sets[i].intersection(sscf_row_sets[i])
    # print("inter:", f"count:{len(inter)}", inter)
    row = {}
    row['count'] = len(inter)
    row['intersection'] = inter
    data.append(row)
intersections = pd.DataFrame(data)
intersections.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
count,8482.0,NaN,NaN,NaN,10.537963,2.531031,1.0,9.0,11.0,12.0,18.0
intersection,8482,8465,"{929, 2595, 323, 4101, 646, 88, 10, 3187, 54, ...",2,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### LT-OCF / BSPM

In [14]:
data = []
for i in range(len(lt_row_sets)):
    inter = lt_row_sets[i].intersection(bspm_row_sets[i])
    # print("inter:", f"count:{len(inter)}", inter)
    row = {}
    row['count'] = len(inter)
    row['intersection'] = inter
    data.append(row)
intersections = pd.DataFrame(data)
intersections.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
count,8482.0,NaN,NaN,NaN,9.885169,2.524217,0.0,8.0,10.0,12.0,18.0
intersection,8482,8465,"{3269, 4473, 3179, 5932, 1771, 2606, 3566, 691...",2,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### SSCF / BSPM

In [15]:
data = []
for i in range(len(sscf_row_sets)):
    inter = sscf_row_sets[i].intersection(bspm_row_sets[i])
    # print("inter:", f"count:{len(inter)}", inter)
    row = {}
    row['count'] = len(inter)
    row['intersection'] = inter
    data.append(row)
intersections = pd.DataFrame(data)
intersections.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
count,8482.0,NaN,NaN,NaN,12.272459,2.503702,1.0,11.0,12.0,14.0,19.0
intersection,8482,8461,"{5152, 1600, 5768, 5211, 2507, 4748, 3884, 571...",2,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Score DF 생성

### LT-OCF

In [16]:
num_rows, num_cols = lt_proba_df.shape
data = []
for r in range(num_rows):
    row = {}
    for c in range(num_cols):
        if c==0:
            row['resume_idx'] = lt_proba_df.iloc[r,c]
        else:
            row['recruitment_idx'] = lt_idx_df.iloc[r,c]        
            row['lt_score'] = lt_proba_df.iloc[r,c]
            data.append(row.copy())
lt_score = pd.DataFrame(data)
lt_score.head()

   resume_idx  recruitment_idx  lt_score
0           0              357  0.999983
1           0              156  0.999955
2           0             1965  0.999934
3           0             1030  0.999892
4           0             2832  0.999884

In [17]:
lt_score.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169640 entries, 0 to 169639
Data columns (total 3 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   resume_idx       169640 non-null  int64
 1   recruitment_idx  169640 non-null  int64
 2   lt_score         169640 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 3.9 MB

### BSPM

In [18]:
num_rows, num_cols = bspm_proba_df.shape
data = []
for r in range(num_rows):
    row = {}
    for c in range(num_cols):
        if c==0:
            row['resume_idx'] = bspm_proba_df.iloc[r,c]
        else:
            row['recruitment_idx'] = bspm_idx_df.iloc[r,c]        
            row['bspm_score'] = bspm_proba_df.iloc[r,c]
            data.append(row.copy())
bspm_score = pd.DataFrame(data)
bspm_score.head()

   resume_idx  recruitment_idx  bspm_score
0           0              357    0.064493
1           0             2832    0.051239
2           0             1407    0.050869
3           0              156    0.046182
4           0             1403    0.040701

In [19]:
bspm_score.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169640 entries, 0 to 169639
Data columns (total 3 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   resume_idx       169640 non-null  int64
 1   recruitment_idx  169640 non-null  int64
 2   bspm_score       169640 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 3.9 MB

### SSCF

In [20]:
num_rows, num_cols = sscf_proba.shape
data = []
for r in range(num_rows):
    row = {}
    for c in range(num_cols):
        if c==0:
            row['resume_idx'] = sscf_proba.iloc[r,c]
        else:
            row['recruitment_idx'] = sscf_rating_idx.iloc[r,c]        
            row['sscf_score'] = sscf_proba.iloc[r,c]
            data.append(row.copy())
sscf_score = pd.DataFrame(data)
sscf_score.head()

   resume_idx  recruitment_idx  sscf_score
0           0              357    1.000000
1           0             2832    0.838635
2           0              156    0.731138
3           0             5164    0.700984
4           0             4670    0.672044

In [21]:
sscf_score.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169640 entries, 0 to 169639
Data columns (total 3 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   resume_idx       169640 non-null  int64
 1   recruitment_idx  169640 non-null  int64
 2   sscf_score       169640 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 3.9 MB

## 점수 스케일링(MinMax)

### LT-OCF

In [22]:
mms = MinMaxScaler()

In [23]:
lt_score['scaled_lt_score'] = lt_score.groupby('resume_idx')['lt_score'].transform(
    lambda x: (mms.fit_transform(x.values.reshape(-1,1))).reshape(-1))

In [24]:
lt_score.head(20)

    resume_idx  recruitment_idx  lt_score  scaled_lt_score
0            0              357  0.999983         1.000000
1            0              156  0.999955         0.965208
2            0             1965  0.999934         0.940382
3            0             1030  0.999892         0.888842
4            0             2832  0.999884         0.880195
5            0             5164  0.999884         0.879348
6            0             4675  0.999808         0.786996
7            0             4670  0.999793         0.768952
8            0             6228  0.999778         0.751344
9            0             5483  0.999766         0.736328
10           0             3195  0.999753         0.721432
11           0             4050  0.999709         0.668148
12           0             1051  0.999684         0.637510
13           0             5279  0.999586         0.518904
14           0             5358  0.999557         0.483954
15           0              161  0.999508         0.424009
16           0             2502  0.999494         0.407540
17           0             3641  0.999261         0.125254
18           0             5598  0.999212         0.066399
19           0             5450  0.999158         0.000000

### BSPM

In [25]:
bspm_score['scaled_bspm_score'] = bspm_score.groupby('resume_idx')['bspm_score'].transform(
    lambda x: (mms.fit_transform(x.values.reshape(-1,1))).reshape(-1))

In [26]:
bspm_score.head(20)

    resume_idx  recruitment_idx  bspm_score  scaled_bspm_score
0            0              357    0.064493           1.000000
1            0             2832    0.051239           0.673108
2            0             1407    0.050869           0.663973
3            0              156    0.046182           0.548383
4            0             1403    0.040701           0.413211
5            0             5164    0.036274           0.304027
6            0             2576    0.034129           0.251131
7            0             4704    0.033497           0.235529
8            0             3349    0.032029           0.199326
9            0             1541    0.031028           0.174656
10           0              161    0.030471           0.160919
11           0             1965    0.030239           0.155195
12           0             3641    0.029476           0.136363
13           0             4670    0.029303           0.132112
14           0             6226    0.027880           0.097013
15           0             5279    0.027160           0.079257
16           0             1653    0.025285           0.033009
17           0             2502    0.024519           0.014118
18           0             6228    0.024484           0.013253
19           0             3374    0.023947           0.000000

### SSCF

In [27]:
sscf_score['scaled_sscf_score'] = sscf_score.groupby('resume_idx')['sscf_score'].transform(
    lambda x: (mms.fit_transform(x.values.reshape(-1,1))).reshape(-1))

In [28]:
sscf_score.head(20)

    resume_idx  recruitment_idx  sscf_score  scaled_sscf_score
0            0              357    1.000000           1.000000
1            0             2832    0.838635           0.729852
2            0              156    0.731138           0.549886
3            0             5164    0.700984           0.499404
4            0             4670    0.672044           0.450954
5            0             6228    0.596687           0.324796
6            0             3641    0.567364           0.275706
7            0             4675    0.560605           0.264389
8            0             1965    0.547928           0.243166
9            0             3349    0.529323           0.212019
10           0              161    0.518527           0.193945
11           0             5097    0.518098           0.193227
12           0             2576    0.508563           0.177263
13           0             2415    0.505786           0.172614
14           0             4050    0.495820           0.155931
15           0              974    0.453572           0.085201
16           0             5450    0.447291           0.074686
17           0             5032    0.438754           0.060394
18           0             4415    0.410012           0.012276
19           0             1653    0.402680           0.000000

## merged_score

In [40]:
merged_score = pd.merge(lt_score, sscf_score, on=["resume_idx", "recruitment_idx"], how="outer")
merged_score = pd.merge(merged_score, bspm_score, on=["resume_idx", "recruitment_idx"], how="outer")
merged_score = merged_score.fillna(0)
merged_score = merged_score.sort_values('resume_idx').reset_index(drop=True)
merged_score.head(40)

,resume_idx,recruitment_idx,lt_score,scaled_lt_score,sscf_score,scaled_sscf_score,bspm_score,scaled_bspm_score
0,0,357,0.999983,1.000000,1.000000,1.000000,0.064493,1.000000
1,0,5450,0.999158,0.000000,0.447291,0.074686,0.000000,0.000000
2,0,1403,0.000000,0.000000,0.000000,0.000000,0.040701,0.413211
3,0,3349,0.000000,0.000000,0.529323,0.212019,0.032029,0.199326
4,0,5097,0.000000,0.000000,0.518098,0.193227,0.000000,0.000000
5,0,2576,0.000000,0.000000,0.508563,0.177263,0.034129,0.251131
6,0,2415,0.000000,0.000000,0.505786,0.172614,0.000000,0.000000
7,0,5598,0.999212,0.066399,0.000000,0.000000,0.000000,0.000000
8,0,974,0.000000,0.000000,0.453572,0.085201,0.000000,0.000000
9,0,4415,0.000000,0.000000,0.410012,0.012276,0.000000,0.000000
10,0,1653,0.000000,0.000000,0.402680,0.000000,0.025285,0.033009
11,0,3374,0.000000,0.000000,0.000000,0.000000,0.023947,0.000000
12,0,6226,0.000000,0.000000,0.000000,0.000000,0.027880,0.097013
13,0,1541,0.000000,0.000000,0.000000,0.000000,0.031028,0.174656
14,0,4704,0.000000,0.000000,0.000000,0.000000,0.033497,0.235529
15,0,5032,0.000000,0.000000,0.438754,0.060394,0.000000,0.000000
16,0,3641,0.999261,0.125254,0.567364,0.275706,0.029476,0.136363
17,0,1407,0.000000,0.000000,0.000000,0.000000,0.050869,0.663973
18,0,161,0.999508,0.424009,0.518527,0.193945,0.030471,0.160919
19,0,1965,0.999934,0.940382,0.547928,0.243166,0.030239,0.155195
20,0,1030,0.999892,0.888842,0.000000,0.000000,0.000000,0.000000
21,0,2832,0.999884,0.880195,0.838635,0.729852,0.051239,0.673108
22,0,2502,0.999494,0.407540,0.000000,0.000000,0.024519,0.014118
23,0,1051,0.999684,0.637510,0.000000,0.000000,0.000000,0.000000
24,0,4050,0.999709,0.668148,0.495820,0.155931,0.000000,0.000000
25,0,3195,0.999753,0.721432,0.000000,0.000000,0.000000,0.000000
26,0,5483,0.999766,0.736328,0.000000,0.000000,0.000000,0.000000
27,0,6228,0.999778,0.751344,0.596687,0.324796,0.024484,0.013253
28,0,4670,0.999793,0.768952,0.672044,0.450954,0.029303,0.132112
29,0,4675,0.999808,0.786996,0.560605,0.264389,0.000000,0.000000
30,0,5164,0.999884,0.879348,0.700984,0.499404,0.036274,0.304027
31,0,5279,0.999586,0.518904,0.000000,0.000000,0.027160,0.079257
32,0,156,0.999955,0.965208,0.731138,0.549886,0.046182,0.548383
33,0,5358,0.999557,0.483954,0.000000,0.000000,0.000000,0.000000
34,1,2881,0.999898,0.132682,0.600160,0.019753,0.000000,0.000000
35,1,4350,0.999910,0.244496,0.000000,0.000000,0.000000,0.000000
36,1,1747,0.999975,0.873061,0.764427,0.422469,0.059121,0.230728
37,1,1508,0.000000,0.000000,0.000000,0.000000,0.053641,0.029667
38,1,3015,0.000000,0.000000,0.000000,0.000000,0.055875,0.111631
39,1,3097,0.000000,0.000000,0.000000,0.000000,0.057959,0.188119

In [42]:
merged_score[merged_score['resume_idx']==0].shape

(34, 8)

## idx 디코딩

### 디코딩 딕셔너리 로드

In [30]:
DATA_PATH = './data/'

In [31]:
resume_decode = pd.read_csv(f"{DATA_PATH}idx_2_resume.txt", delimiter=" ", header=None)
resume_decode.head()

   0       1
0  0  U05833
1  1  U06456
2  2  U07807
3  3  U04842
4  4  U08336

In [32]:
resume_decode = resume_decode.set_index(0).to_dict()[1]

In [33]:
recruitment_decode = pd.read_csv(f"{DATA_PATH}/idx_2_recruitment.txt", delimiter=" ", header=None)
recruitment_decode.head()

   0       1
0  0  R03838
1  1  R02144
2  2  R01877
3  3  R02463
4  4  R00112

In [34]:
recruitment_decode = recruitment_decode.set_index(0).to_dict()[1]

### 모델스코어 디코딩

In [35]:
merged_score['resume_seq'] = merged_score['resume_idx'].apply(lambda x : resume_decode[x])
merged_score.head()

,resume_idx,recruitment_idx,lt_score,scaled_lt_score,sscf_score,scaled_sscf_score,bspm_score,scaled_bspm_score,resume_seq
0,0,357,0.999983,1.0,1.000000,1.000000,0.064493,1.000000,U05833
1,0,5450,0.999158,0.0,0.447291,0.074686,0.000000,0.000000,U05833
2,0,1403,0.000000,0.0,0.000000,0.000000,0.040701,0.413211,U05833
3,0,3349,0.000000,0.0,0.529323,0.212019,0.032029,0.199326,U05833
4,0,5097,0.000000,0.0,0.518098,0.193227,0.000000,0.000000,U05833

In [36]:
merged_score['recruitment_seq'] = merged_score['recruitment_idx'].apply(lambda x : recruitment_decode[x])
merged_score.head()

,resume_idx,recruitment_idx,lt_score,scaled_lt_score,sscf_score,scaled_sscf_score,bspm_score,scaled_bspm_score,resume_seq,recruitment_seq
0,0,357,0.999983,1.0,1.000000,1.000000,0.064493,1.000000,U05833,R00585
1,0,5450,0.999158,0.0,0.447291,0.074686,0.000000,0.000000,U05833,R03651
2,0,1403,0.000000,0.0,0.000000,0.000000,0.040701,0.413211,U05833,R02439
3,0,3349,0.000000,0.0,0.529323,0.212019,0.032029,0.199326,U05833,R00353
4,0,5097,0.000000,0.0,0.518098,0.193227,0.000000,0.000000,U05833,R01382

## 비율별 Ensemble 및 저장

### 비율 탐색

In [37]:
for i in range(0,100,10):
    for j in range(0, 101-i, 10):
        left = i / 100
        mid = j / 100
        right = (100 - i - j) / 100
        print(f"{left:.2f}, {mid:.2f}, {right:.2f}")

0.00, 0.00, 1.00
0.00, 0.10, 0.90
0.00, 0.20, 0.80
0.00, 0.30, 0.70
0.00, 0.40, 0.60
0.00, 0.50, 0.50
0.00, 0.60, 0.40
0.00, 0.70, 0.30
0.00, 0.80, 0.20
0.00, 0.90, 0.10
0.00, 1.00, 0.00
0.10, 0.00, 0.90
0.10, 0.10, 0.80
0.10, 0.20, 0.70
0.10, 0.30, 0.60
0.10, 0.40, 0.50
0.10, 0.50, 0.40
0.10, 0.60, 0.30
0.10, 0.70, 0.20
0.10, 0.80, 0.10
0.10, 0.90, 0.00
0.20, 0.00, 0.80
0.20, 0.10, 0.70
0.20, 0.20, 0.60
0.20, 0.30, 0.50
0.20, 0.40, 0.40
0.20, 0.50, 0.30
0.20, 0.60, 0.20
0.20, 0.70, 0.10
0.20, 0.80, 0.00
0.30, 0.00, 0.70
0.30, 0.10, 0.60
0.30, 0.20, 0.50
0.30, 0.30, 0.40
0.30, 0.40, 0.30
0.30, 0.50, 0.20
0.30, 0.60, 0.10
0.30, 0.70, 0.00
0.40, 0.00, 0.60
0.40, 0.10, 0.50
0.40, 0.20, 0.40
0.40, 0.30, 0.30
0.40, 0.40, 0.20
0.40, 0.50, 0.10
0.40, 0.60, 0.00
0.50, 0.00, 0.50
0.50, 0.10, 0.40
0.50, 0.20, 0.30
0.50, 0.30, 0.20
0.50, 0.40, 0.10
0.50, 0.50, 0.00
0.60, 0.00, 0.40
0.60, 0.10, 0.30
0.60, 0.20, 0.20
0.60, 0.30, 0.10
0.60, 0.40, 0.00
0.70, 0.00, 0.30
0.70, 0.10, 0.20
0.70, 0.20, 0.10
0.70, 0.30, 0.00
0.80, 0.00, 0.20
0.80, 0.10, 0.10
0.80, 0.20, 0.00
0.90, 0.00, 0.10
0.90, 0.10, 0.00

### 최적의 비율(LTOCF:SSCF:BSPM=61:36:3)

In [ ]:
SAVE_PATH = './results/'

In [39]:
left = 0.61
mid = 0.36
right = 0.03

submission_dfs = []

submission_score = merged_score.copy()
submission_score['sum'] = submission_score['scaled_lt_score']*left +\
                        submission_score['scaled_sscf_score']*mid +\
                        submission_score['scaled_bspm_score']*right
submission_score = submission_score[['resume_seq', 'recruitment_seq', 'sum']]
submission_score_5 = submission_score.groupby(['resume_seq']).apply(lambda group: group.nlargest(5, 'sum'))
submission_score_5[['resume_seq', 'recruitment_seq']].to_csv(
    f"{SAVE_PATH}[Ensemble]L{left:.2f}_S{mid:.2f}_B{right:.2f}.csv", index=False)
submission_dfs.append(submission_score_5)